openapi: 3.0.3
info:
  title: Onboarding - API
  description: STD 22006
  version: 1.0.0
servers:
  - url: https://std22006.com/api
tags:
  - name: Student
    description: For students
  - name: Teacher
    description: For teachers
paths:
  /students:
    get:
      tags:
        - Student
      summary: Find all students
      operationId: findStudents
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Student'
              example:
                - id: 1
                  name: Rakoto
                  birthdate: 2001-10-24
        '404':
          description: Not found
        '500':
          description: Internal server error
    post:
      tags:
        - Student
      summary: Create a new student
      operationId: createStudent
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Student'
      responses:
        '201':
          description: Student created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Student'
        '400':
          description: Invalid request
        '409':
          description: Student already exists
  /students/{studentId}:
    get:
      tags:
        - Student
      summary: Find student by id
      operationId: getStudentById
      parameters:
        - name: studentId
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Student'
        '404':
          description: Student not found
        '500':
          description: Internal server error
    put:
      tags:
        - Student
      summary: Update a student
      operationId: updateStudent
      parameters:
        - name: studentId
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Student'
      responses:
        '200':
          description: Student updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Student'
        '400':
          description: Invalid request
        '404':
          description: Student not found
        '409':
          description: Student already exists
    delete:
      tags:
        - Student
      summary: Delete a student
      operationId: deleteStudent
      parameters:
        - name: studentId
          in: path
          required: true
          schema:
            type: integer
      responses:
        '204':
          description: Student deleted successfully
        '400':
          description: Invalid request
        '404':
          description: Student not found    
  /teachers:
    get:
      tags:
        - Teacher
      summary: Find all teachers
      operationId: findTeachers
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Teacher'
              example:
                - name: Tokimahery
                  firstname: Ramarozaka
                  subjects:
                    - name: Algoritmique
                      code: PROG1
                      duration: 100
        '404':
          description: Not found
        '500':
          description: Internal server error
    post:
      tags:
        - Teacher
      summary: Create a new teacher
      operationId: createTeacher
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Teacher'
      responses:
        '201':
          description: Teacher created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Teacher'
        '400':
          description: Invalid request
        '409':
          description: Teacher already exists
  /teachers/{teacherId}:
    get:
      tags:
        - Teacher
      summary: Find teacher by id
      operationId: findTeacherById
      parameters:
        - name: teacherId
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                items:
                  $ref: '#/components/schemas/Teacher'
        '404':
          description: Not found
        '500':
          description: Internal server error
    put:
      tags:
        - Teacher
      summary: Update a teacher
      parameters:
        - name: teacherId
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          appplication/json:
            schema:
              $ref: '#/components/schemas/Teacher'
      responses:
        '200':
          description: Teacher updated successfully
          content:
            application/json:
              schema:
                type: object
                items:
                  $ref: '#/components/schemas/Teacher'
        '400':
            description: Invalid request
        '404':
          description: Teacher not found
    delete:
      tags:
        - Teacher
      summary: Delete a teacher
      operationId: deleteTeacher
      parameters:
        - name: teacherId
          in: path
          required: true
          schema:
            type: integer
      responses:
        '204':
          description: Teacher deleted successfully
        '400':
          description: Invalid request
        '404':
          description: Teacher not found
components:
  schemas:
    Student:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        birthdate:
          type: string
    Teacher:
      type: object
      properties:
        name:
          type: string
        firstname:
          type: string
        subjects:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              code:
                type: integer
              duration:
                type: integer