openapi: 3.0.3
info:
  title: Onboarding - API
  description: |-
    STD 22006
  version: 1.0.0
servers:
  - url: https://std22006.com
tags:
  - name: default
    description: Default operation
paths:
  /students:
    get:
      tags:
        - default
      summary: Find all students
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Student'
              example:
                - id: 1
                  name: Rakoto
                  birthdate: 2001-10-24
        '400':
          description: Invalid status value
        '404':
          description: Not found
    post:
      tags:
        - default
      summary: Create a new student
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Student'
      responses:
        '201':
          description: Student created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Student'
        '400':
          description: Invalid request
        '409':
          description: Student already exists
components:
  schemas:
    Student:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        birthdate:
          type: string